<p id="notice"><%= notice %></p>
<% profitloss= 0 %>

<h1>Currencies Simulations</h1>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      
      <th>Symbol</th>
      <th>Quantity(User)</th>
      <th>Unit price(User)</th>
      <th>Total amount(User)</th>
      <th>Current Day Price</th>
      <th>Total Amount Day Price</th>
      <th>Profit/Loss</th>
      <th>Show</th>
      <th>Edit</th>
      
    </tr>
  </thead>

  <tbody>
    <% @currencies.each do |currency| %>
    <% if currency.user_id == current_user.id %>
        <% if @lookup_currency['rates'][currency.symbol] %>
          <tr>
            <% current_day_price = @lookup_currency['rates'][currency.symbol] %>
        
             <td><%= currency.symbol %></td>
              <td><%= currency.quantity %></td>
             <td><%= currency.unit_price %></td>
        <td><%= currency.total_amount %></td>
        <td><%= current_day_price %></td>
        <td><%= currency.quantity * current_day_price %></td>
        <td><%= (currency.quantity * current_day_price) - currency.total_amount %></td>
        <% profitloss += (currency.quantity * current_day_price) - currency.total_amount %>
        <td><%= link_to 'Show', currency, class: 'mr-5' %></td>
        <td><%= link_to 'Edit', edit_currency_path(currency), class: 'mr-5' %></td>
        
      </tr>
      <% end %>
    <% end %>
    <% end %>
  </tbody>
</table>

<br/>

<div class="container text-center">
<strong> Total Profit/Loss:<%=profitloss %></strong>
</div>
<br/>

<div class="container text-center">

<%= link_to 'Create New Currency', new_currency_path, class: 'btn btn-primary mr-5' %>

<%= link_to 'Back to Home Page', home_home_path, class: 'btn btn-primary mr-5' %>

<%= link_to 'Export to CSV', export_csv_path, class: 'btn btn-primary mr-5' %>

<%= link_to 'Upload File', 'javascript:void(0);', class: 'btn btn-primary', data: {toggle: 'modal', target: '#file_upload_modal'} %>

</div>

<%= render "upload/upload" %>