<p id="notice"><%= notice %></p>

<h2>New Currency</h2>

<div class="container">
  
  <%= link_to 'Look for New Currency', new_currency_path, class: 'btn btn-dark mr-5 float-right'%>
  
  <%= link_to 'Delete', currency_path(@currency), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-dark mr-5 float-right' %>
  
  <%= link_to 'Edit', edit_currency_path(@currency), class: 'btn btn-dark mr-5 float-right' %>

  
  
</div>

<div class="container">
  <table class="table table-bordered modal-dialog modal-lg">
    <thead class="thead-dark">
      <tr>
        <th>Symbol</th>
        <th>Total quantity</th>
        <th>Unit price</th>
        <th>Total amount</th>
      </tr>
    </thead>
  
    <tbody>
    <tr>
      <td><%= @currency.symbol %></td>
      <td><%= @currency.quantity %></td>
      <td><%= @currency.unit_price %></td>
      <td><%= @currency.total_amount %></td>
    </tr>
    </tbody>
  </table>

</div>


<div class="container text-center">

<%= link_to 'Back to Account', currencies_path, class: 'btn btn-dark mr-5' %>

<%= link_to 'Back to Home Page', home_home_path, class: 'btn btn-dark' %>
</div>