<h2>Manage your Cryptocurrency</h2>
<br/>

<div class="container">
      <div class="btn-group mr-5 float-right">
            <%= link_to 'Calculate Profit/Loss', cryptotables_path, :class => "btn btn-primary" %>
      </div>
      <div class="btn-group mr-5 float-right">
            <%= link_to 'Lookup Cryptocurrency', home_lookupcrypto_path, :class => "btn btn-primary" %>
      </div>
      
      <div class="btn-group mr-5 float-right">
            
            <%= link_to "Manage Profile", edit_user_registration_path, :class => "btn btn-primary" %>
      </div>
      
     <%= link_to 'Predict', home_prediction_path, :class => "btn btn-primary" %>
      
</div>
  

 <br/>

<table class="table table-bordered modal-dialog modal-lg">
    <thead class="thead-dark">
        <th>Symbol Cryptocurrency</th>
        <th>Today Open</th>
        <th>Today High</th>
        <th>Today Low</th>
        <th>24h average</th>
        <th>Global vol</th>
        <th>Predictions</th>
    </thead>
    <tbody>
        <tr>
            <td>Bitcoin</td>
            <td><%= @bitcoin['open']['day'] %></td>
            <td><%= @bitcoin['high'] %></td>
            <td><%= @bitcoin['low'] %></td>
            <td><%= @bitcoin['averages']['day'] %></td>
            <td><%= @bitcoin['volume'] %></td>
            <td><%= link_to 'Predict', home_home_path, :class => "btn btn-primary" %></td>
        </tr>
        <tr>
            <td>Ethereum</td>
            <td><%= @ethereum['open']['day'] %></td>
            <td><%= @ethereum['high'] %></td>
            <td><%= @ethereum['low'] %></td>
            <td><%= @ethereum['averages']['day'] %></td>
            <td><%= @ethereum['volume'] %></td>
            <td><%= link_to 'Predict', home_home_path, :class => "btn btn-primary" %></td>
        </tr>
        <tr>
            <td>Litecoin</td>
            <td><%= @litecoin['open']['day'] %></td>
            <td><%= @litecoin['high'] %></td>
            <td><%= @litecoin['low'] %></td>
            <td><%= @litecoin['averages']['day'] %></td>
            <td><%= @litecoin['volume'] %></td>
            <td><%= link_to 'Predict', home_home_path, :class => "btn btn-primary" %></td>
        </tr>
        
        <tr>
            <td>ZCASH</td>
            <td><%= @ZCash['open']['day'] %></td>
            <td><%= @ZCash['high'] %></td>
            <td><%= @ZCash['low'] %></td>
            <td><%= @ZCash['averages']['day'] %></td>
            <td><%= @ZCash['volume'] %></td>
            
            
        </tr>
        
    </tbody>
</table>

<br/>

<h2>Manage your Currencies</h2>

<div class="container">
      <div class="btn-group mr-5 float-right">
            <%= link_to 'Calculate Profit/Loss', currencies_path, :class => "btn btn-primary" %>
      </div>
      <div class="btn-group mr-5 float-right">
            <%= link_to 'Lookup Currency', home_lookupcurrency_path, :class => "btn btn-primary" %>
      </div>
      
      <div class="btn-group mr-5 float-right">
            
            <%= link_to "Manage Profile", edit_user_registration_path, :class => "btn btn-primary" %>
      </div>
      
      
</div>


<table class="table table-bordered modal-dialog modal-lg">
    <thead class="thead-dark">
        <th>Symbol Currencies</th>
        <th>Rates</th>
    </thead>
    <tbody>
        <tr>
            <td>USD</td>
            <td><%= @USD['rates'] ['USD'] %> </td>
            
            
         </tr>
        <tr>
            <td>GBP</td>
            <td><%= @GBP['rates'] ['GBP'] %> </td>
        </tr>
        <tr>
            <td>AUD</td>
            <td><%= @AUD['rates'] ['AUD'] %> </td>
            
        </tr>
        
        <tr>
            <td>JPY</td>
            <td><%= @JPY['rates'] ['JPY'] %> </td>
            
        </tr>
    </tbody>