<h3>Look for Cryptocurrency value</h3>

<br/>

<%= form_tag home_lookupcrypto_path, :method => 'POST' do%>
  <%= text_field_tag 'symbol', nil, placeholder: 'Enter Cryptocurrency symbol', size: 40 %>
  <%= submit_tag 'Lookup Cryptocurrency Stock Quote', class: 'btn btn-dark' %>
<% end %>

<br/>

        <div class="symbol">
            <% if @symbol %>
                 High: <%= @symbol['high'] %>
            <% end %>
  
        </div>

    



<br/>
 
</div>


<br/>

<div class= "container">

    <div class="btn-group">
    <%= link_to 'Back to HomePage', home_home_path, :class => "btn btn-dark" %>
    </div>
    
</div>
