<h3>Look for Currency value</h3>

<br/>

<%= form_tag home_lookupcurrency_path, :method => 'POST' do%>
  <%= text_field_tag 'symbol', nil, placeholder: 'Enter Currency symbol', size: 40 %>
  <%= submit_tag 'Lookup Currency Stock Quote', class: 'btn btn-dark' %>
<% end %>

<br/>

<div class="symbol">
    
<% if @symbol %>
    <% @lookup_currency['rates'].each do |rate, value| %>
        <% if @symbol == rate %>
          <%= rate %>: <%= value %>
        <% end %>
    <% end %>
 <% end %>
    
 </div>


<br/>

<div class= "container">

    <div class="btn-group">
    <%= link_to 'Back to HomePage', home_home_path, :class => "btn btn-dark" %>
    </div>
    
</div>


