<table>

            <tr>
            <td>ZCASH</td>
            <td><%= @ZCash['open']['day'] %></td>
            <td><%= @ZCash['high'] %></td>
            <td><%= @ZCash['low'] %></td>
            <td><%= @ZCash['averages']['day'] %></td>
            <td><%= @ZCash['volume'] %></td>
            
            </tr>
            
</table>