<h1 align="center">Welcome to Hybrid Wallet</h1>


<body>
<div class="container">

  <div id="carouselExampleIndicators" class="carousel slide" dathttps://s3-eu-west-1.amazonaws.com/hybridwallet2/hybridwallet-assets/slider1.jpgo="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div style="height: 500px; border: 0.2px;">
        <%= image_tag 'https://s3-eu-west-1.amazonaws.com/hybridwallet2/hybridwallet-assets/slider2.jpg', class: "mx-auto d-block" %>
      </div>
    </div>
    <div class="carousel-item">
      <div style="height: 500px; border: 0.2px;">
       <%= image_tag 'https://s3-eu-west-1.amazonaws.com/hybridwallet2/hybridwallet-assets/slider3.jpg', class: "mx-auto d-block" %>
      </div>
    </div>
    <div class="carousel-item">
      <div style="height:500px; border: 0.2px;">
        <%= image_tag 'slider3.jpg', class: "mx-auto d-block" %>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>
</div>

<br/>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row text-center">
      <div class="col-lg-4">
        <img class="rounded-circle" src="https://s3-eu-west-1.amazonaws.com/hybridwallet2/hybridwallet-assets/slider4.png" alt="slider4.png"
          width="140" height="140">
        <h2>Mission</h2>
        <p align ="justify">HybridWallet is an application designed to help you in your investments on a daily basis. 
        You can look the current stock market rates for cryptocurrencies and currencies. 
        The application will help you to calculate your return on investments (profits or losses).</p>
        <p>
          <%= link_to "View details", welcome_mission_path, class:"btn btn-secondary" %>
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="https://s3-eu-west-1.amazonaws.com/hybridwallet2/hybridwallet-assets/slider5.png" alt="slider5.png"
          width="140" height="140">
        <h2>About Us</h2>
        <p align ="justify">HybridWallet is a project built to innovate and anticipate the demand of users who are investing in cryptocurrencies and currences.</p>
        <p>
          <%= link_to "View details", welcome_about_path, class:"btn btn-secondary" %>
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="https://s3-eu-west-1.amazonaws.com/hybridwallet2/hybridwallet-assets/slider6.png" alt="slider6.png"
          width="140" height="140">
        <h2>A new world with digital and standard currencies</h2>
        <p align ="justify">HybridWallet is the future of the online banking as you can manage your hybrid investments online.
        The future is about blockchain technologies and the reduction of the transactions fees</p>
        <p>
          <%= link_to "View details", welcome_presentation_path, class:"btn btn-secondary" %>
        </p>
      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading" align="justify">Why Hybrid?
          <span class="text-muted" align="justify">The world is changing!</span>
        </h2>
        <p class="lead" align="justify">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo
          cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" src="https://s3-eu-west-1.amazonaws.com/hybridwallet2/hybridwallet-assets/slider7.jpg" alt="slider7.jpg">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading" align="justify">Blockchain technologies are the future of banking.
          <span class="text-muted" align="justify">See for yourself!</span>
        </h2>
        <p class="lead" align="justify">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo
          cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" src="https://s3-eu-west-1.amazonaws.com/hybridwallet2/hybridwallet-assets/slider8.jpg" alt="slider8.jpg">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette" align="justify">
      <div class="col-md-7">
        <h2 class="featurette-heading" align="justify">And lastly, predict your future.
          <span class="text-muted">Don't lose time or money!</span>
        </h2>
        <p class="lead" align="justify">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo
          cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" src="https://s3-eu-west-1.amazonaws.com/hybridwallet2/hybridwallet-assets/slider9.jpgg" alt="slider9.jpg">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div>
  <!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>&copy; 2018 HybridWallet, Inc. &middot;
      <a href="#">Privacy</a> &middot;
      <a href="#">Terms</a>
    </p>
  </footer>

</main>

</body>