<p id="notice"><%= notice %></p>
<% profitloss= 0 %>

<h1>Cryptotables Simulations</h1>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Symbol</th>
      <th>Total quantity (User)</th>
      <th>Unit price (User)</th>
      <th>Total amount (User)</th>
      <th>Last Day Price</th>
      <th>Total Amount Last Price</th>
      <th>Profit/Loss</th>
      <th>Show</th>
      <th>Edit</th>

    </tr>
  </thead>

  <tbody>
    <% @cryptotables.each do |cryptotable| %>
      <%if cryptotable.user_id == current_user.id %>
      
        <% api_result = @lookup_crypto[cryptotable.symbol] %>
        <% if api_result['error_message'] %>
          <tr>
            <td><%= cryptotable.symbol %></td>
            <td colspan="6">Not supported</td>
            <td><%= link_to 'Show', cryptotable, class: 'mr-5' %></td>
            <td><%= link_to 'Edit', edit_cryptotable_path(cryptotable), class: 'mr-5' %></td>
          </tr>
        <% else %>
         <tr>
          <% cryptotable_last_price = api_result['last'] %>
        
          <td><%= cryptotable.symbol %></td>
          <td><%= cryptotable.total_quantity %></td>
          <td><%= cryptotable.unit_price %></td>
          <td><%= cryptotable.total_amount %></td>
          <td><%= cryptotable_last_price %></td>
          <td><%= cryptotable.total_quantity * cryptotable_last_price %></td>
          <td><%= (cryptotable.total_quantity * cryptotable_last_price) - cryptotable.total_amount %></td>
          <% profitloss +=(cryptotable.total_quantity * cryptotable_last_price) - cryptotable.total_amount %>
          <td><%= link_to 'Show', cryptotable, class: 'mr-5' %></td>
          <td><%= link_to 'Edit', edit_cryptotable_path(cryptotable), class: 'mr-5' %></td>
  
        </tr>
       <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<div class="container text-center">
<strong> Total Profit/Loss:<%=profitloss %></strong>
</div>
<br/>

<div class="container text-center">

<%= link_to 'Create New Cryptocurrency', new_cryptotable_path, class: 'btn btn-primary mr-5'%>

<%= link_to 'Back to Home Page', home_home_path, class: 'btn btn-primary mr-5' %>

<%= link_to 'Export to CSV', cryptotableexport_csv_path, class: 'btn btn-primary mr-5' %>

<%= link_to 'Upload File', 'javascript:void(0);', class: 'btn btn-primary', data: {toggle: 'modal', target: '#file_upload_modal'} %>

</div>

<!-- Modal -->

 <%= render 'upload/upload' %>