
<h2>New Cryptocurrency</h2>

  
  <div class="container">
    <%= link_to 'Edit', edit_cryptotable_path(@cryptotable), class: ' btn btn-primary mr-5 float-right' %>
  
    <%= link_to 'Delete', cryptotable_path, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-primary mr-5 float-right' %>
   
    <%= link_to 'Look for New Cryptocurrency', new_cryptotable_path, class: 'btn btn-primary float-right mr-5'%><br/>
    
     
  </div>
  
<div class="container">
  <table class="table table-bordered modal-dialog modal-lg">
    <thead class="thead-dark">
      <tr>
        <th>Symbol</th>
        <th>Total quantity</th>
        <th>Unit price</th>
        <th>Total amount</th>
       
        
      </tr>
    </thead>
  
    <tbody>
    
    <tr>
      <td><%= @cryptotable.symbol %></td>
      <td><%= @cryptotable.total_quantity %></td>
      <td><%= @cryptotable.unit_price %></td>
      <td><%= @cryptotable.total_amount %></td>
      
    </tr>
      
    </tbody>
  </table>
  
  
  
  <br/>
  
  <div class="container text-center">

  <%= link_to 'Back to Account', cryptotables_path, class: 'btn btn-primary mr-5' %>
  <%= link_to 'Back to Home Page', home_home_path, class: 'btn btn-primary' %>

  </div>

</div>


  