<p id="notice"><%= notice %></p>
<p>
  <strong>Symbol:</strong>
  <%= @cryptotable.symbol %>
</p>

<p>
  <strong>User:</strong>
  <%= @cryptotable.user_id %>
</p>

<p>
  <strong>Total quantity:</strong>
  <%= @cryptotable.total_quantity %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @cryptotable.unit_price %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= @cryptotable.total_amount %>
</p>

<%= link_to 'Edit', edit_cryptotable_path(@cryptotable), class: 'btn btn-dark mr-5' %> 

<%= link_to 'Back to Account', cryptotables_path, class: 'btn btn-dark mr-5' %>

<%= link_to 'Look for New Cryptocurrency', new_cryptotable_path, class: 'btn btn-dark mr-5'%><br/><br/>

<td><%= link_to 'Destroy', cryptotable_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'mr-5' %></td>

<%= link_to 'Back to Home Page', home_home_path, class: 'btn btn-dark' %>
